[submodule "tools/spectre-meltdown-checker"]
	path = tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
