{{/* ref https://github.com/twpayne/dotfiles/tree/master */}}

{{- $ephemeral := false -}}
{{- $work := false -}}
{{- $headless := false -}}
{{- $personal := false -}}
{{- $deviceName := "" }}
{{- "" -}}

{{/* get linux os name with suffix appended */}}
{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
 
{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-     $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-     if or (hasSuffix (upper $hostname) "-DC") (hasSuffix (upper $hostname) "-LC") -}}
{{-         $personal := true -}}
{{-     else if stdinIsATTY -}}
{{-         $headless = promptBoolOnce . "headless" "headless" -}}
{{-         $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     else -}}
{{-         $ephemeral = true -}}
{{-         $headless = true -}}
{{-     end -}}
{{- end -}}

{{- if $personal -}}
{{-     $deviceName := splitList "-" $hostname | index 0 -}}
{{- end -}}

{{- $email := "twpayne@gmail.com" -}}
{{- if $work -}}
{{-   $email = "tpayne@akamai.com" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}