export ZDOTDIR="{{ .chezmoi.homeDir }}/.config/zsh"
export DOTFILE="{{ .chezmoi.sourceDir }}/.."

unsetopt GLOBAL_RCS

for envfile in $ZDOTDIR/env.d/*; do
    source $envfile
done

unset envfile homezshenv